# Entorno de la aplicación
APP_ENV=development

# Se configurará completamente en el paso 5
DATABASE_URL=postgresql://analyticore_user:CAMBIAR_CLAVE@localhost:5432/analyticore

# Se utilizará cuando exista el servicio Java
JAVA_SERVICE_URL=http://localhost:8080

# Origen local previsto para React
ALLOWED_ORIGINS=http://localhost:5173